html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 3em;
    background-color: hsl(0, 0%, 20%);
    color: white;

    padding: 0 2em;
    border-bottom: solid 0.3em hsl(0, 70%, 50%);
}

header a,
header a:visited {
    display: flex;
    align-items: center;

    color: white;
    font-size: 1.3rem;
}

header a img {
    width: 1.3em;
    margin-right: 0.5em;
}

a,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}

.body {
    display: flex;
    flex-direction: row;

    margin-top: 4em;
}

nav {
    flex-shrink: 0;
    position: fixed;
    padding: 0 2em;
    border-right : solid 1px hsl(0, 0%, 20%);
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}

nav ol li {
    padding: 0.2em 0;
    margin: 0.3em 0;
}

.content {
    max-width: 50em;

    margin-left: 15em;
    padding-left: 2em;
}

p code {
    padding: 0.2em;
    font-weight: bold;
    color: hsl(0,0%,15%);
}

code.hljs {
    background-color: hsl(0, 0%, 90%);
    border: solid 1px hsl(0, 0%, 20%)
}
