body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: row;
}

nav {
    flex-shrink: 0;
    margin-right: 2em;
}

.content {

}
